
:root {
	--thumbnail-height: 200px;
	--thumbnail-width: 300px;
	--banner-height: 100px;
	--tools-height: 95%;
	--toolbox-width: 275px;

	--color-bg-banner-toolbox: #17191c;
	--color-main-block: #24262b;
	--color-highlight: #cd1818ff;
	--color-text: 255, 255, 255;
	--color-separators: white;
}


html, body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: "Oxygen";

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/* = = = = = = = = = = BANNER = = = = = = = = = = */

#banner{
	background-color: var(--color-bg-banner-toolbox);
	border-bottom: solid 2px var(--color-separators);

	display: flex;
	height: var(--banner-height);
	width: 100%;
	box-sizing: border-box;
}

#logo_carthage{
	display: inline-block;
	height: calc(var(--banner-height) - 20px);
	transform: translate(20px, 8px);
}

#search{
	background-color: rgba(255, 255, 255, 0.05);
	border: solid 1px rgba(255, 255, 255, 0.3);
	transition-duration: 0.5s;
	color: rgba(var(--color-text), 0.2);
	border-radius: 4px;
	filter: saturate(0%);

	padding: 8px;
	vertical-align: middle;
	height: 1.6em;
	width: 33%;
	min-width: 280px;
	overflow: hidden;
	display: flex;
	margin-left: 40%;
	transform: translate(-50%, 25px);
}

#search:hover{
	border: solid 1px rgba(255, 255, 255, 0.9);
	color: rgba(var(--color-text), 0.8);
	filter: saturate(100%);
	transition-duration: 0.4s;
}

#search_box::placeholder{
	color: rgba(var(--color-text), 0.15);
	font-style: italic;
}

#search_box{
	background-color: rgba(255, 255, 255, 0.0);
	border: none;
	border-left: solid 1px rgba(255, 255, 255, 0.15);
	font-size: 1.2em;
	outline: none;
	color: inherit;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding-left: 10px;
	margin-left: 5px;
}


#ico_search_bar{
	font-size: 1.6em;
	height: 100%;
	cursor: pointer;
	color: var(--color-highlight);
}


/* = = = = = = = = = = TOOLBOX = = = = = = = = = = */

.menu_item{
	color: rgba(var(--color-text), 1.0);
	margin-bottom: 10px;
	border-bottom: solid 2px rgba(205, 24, 24, 0);
	transition: 0.3s;
	padding-left: 20px;
	padding-bottom: 5px;
	cursor: pointer;
}

.menu_item:hover{
	border-bottom: solid 2px var(--color-highlight);
	transition: 0.3s;
	color: var(--color-highlight);
	padding-left: 30px;
}

#connexion{
	vertical-align: middle;
	display: table-cell;
	padding-left: 20px;
}

.menu_text{
	font-size: 1.2em;
	margin-left: 15px;
	display: inline-block;
	transform: translateY(-2px);
}

.connexion_text{
	margin-left: 20px;
	color: rgba(var(--color-text), 0.3);
	font-size: 1.3em;
}

.connexion_on{
	color: #61f26f;
}

.connexion_off{
	color: #f26161;
}

.menu_icon{
	font-size: 1.7em;
	transform: translateY(5px);
	display: inline-block;
	font-weight: bold;
}

#page{
	width: 100%;
	height: calc(100% - var(--banner-height));
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
}

#left_toolbox{
	background-color: var(--color-bg-banner-toolbox);
	box-sizing: border-box;
	border-right: solid 2px var(--color-separators);
	height: 100%;
	width: var(--toolbox-width);
	display: flex;
	flex-direction: column;
}

#left_tools{
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: var(--tools-height);
	overflow-x: hidden;
	overflow-y: auto;
}

#connection_status{
	width: 100%;
	height: calc(100% - var(--tools-height));
	display: table;
	border-top: solid 1px rgba(255, 255, 255, 0.1);
}


/* = = = = = = = = = = MAIN CONTENT = = = = = = = = = = */


.star_pjct{
	position: absolute;
	margin-left: calc(var(--thumbnail-width) - 30px);
	margin-top: 10px;
	font-size: 1.4em;
	color: rgba(var(--color-text), 1.0);
	text-shadow: 0 0 5px black; /* shift_x shift_y spread color */
}

.pjt_name{
	transform: translate(-10px, 10px);
	font-size: 1.2em;
	width: 100%;
	text-align: right;
	margin: 0;
	color: rgba(var(--color-text), 1.0);
}

.pjt_stripe{
	background-color: var(--color-highlight);
	padding-bottom: 5px;
}

.pjt_img{
	width: var(--thumbnail-width);
	height: var(--thumbnail-height);
	object-fit: cover;
}

.pjt_container{
	display: inline-block;
	width: var(--thumbnail-width);
	height: calc(var(--thumbnail-height) + 50px);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	overflow: hidden;
	vertical-align: top;
	cursor: pointer;
	border: solid 3px rgba(255, 255, 255, 0.0);
	border-bottom: solid 1px rgba(255, 255, 255, 0.15);
	margin: 40px;
	transition: 0.4s;
	position: relative;
}

.pjt_container:hover{
	transition: 0.4s;
	background-color: var(--color-highlight);
}

#main_block{
	background-color: var(--color-main-block);
	height: 100%;
	width: calc(100% - var(--toolbox-width));
	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 45px;
}